.Tile {
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(75, 75, 75);
    border-radius: 5px;
    box-shadow: 1px 1px 9px 0px #7a7a7a;
    align-items: center;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 0.5em;

    img {
        width: 4em;
        height: 4em;
    }
}

.indicatorImage {
    border:1px solid rgb(196, 196, 196);
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    img {
        width: 1em;
        height: 1em;
        padding: 0.3em;
    }
}
.imageContainer {
    margin-right: 1em;
}
@media only screen and (max-width: 768px) {
    p{
        display: none;
    }
}